/* Fix date format too big */
.we-date-format-custom{
	width: 35px;
}

/* Fix product variation border */
table.variations th.label
{
	border:none;
}

/* Hide social icons in menu on mobile */
.mobile-screen #mobile-bar .wvc-socials-container,
.mobile-screen #mobile-bar .wolf-core-socials-container {
	display: none !important;
}

/* Mobile bar wrapper width */
#mobile-bar .flex-mobile-wrap {
	width: 100% !important;
}

/* Variation swatch width */
.swatch {
	width: 30px !important;
	height: 30px !important;
}

i.fab.fa-twitter,
i.fab.fa-x {
	cursor: pointer;
	//content: url(../img/x.svg);
	color: inherit;
	margin: 0 auto;
}

.fa-twitter {
	&:before {
		display: none;
	}
}

.fa-twitter {
	svg {
		position: relative;
		cursor: pointer;
	}
}

.fa-1x {
	.fa-twitter {
		svg {
			top: 2px;
		}
	}
}

.fa-2x {
	.fa-twitter {
		svg {
			top: 2px;
		}
	}
}

.fa-3x {
	.fa-twitter {
		svg {
			top: 5px;
		}
	}
}

.fa-4x {
	.fa-twitter {
		svg {
			top: 6px;
		}
	}
}

.fa-5x {
	.fa-twitter {
		svg {
			top: 6px;
		}
	}
}

/* Fix elementor scroll */
html {
	scroll-behavior: initial !important; // fix Elementor
}

/* Fixes removed rules from Elementor (!!!) */
.elementor-background-video-hosted{
	object-fit:cover!important;
}
