/* Fix date format too big */
.we-date-format-custom{
	width: 35px;
}

/* Fix product variation border */
table.variations th.label
{
	border:none;
}

/* Hide social icons in menu on mobile */
.mobile-screen #mobile-bar .wvc-socials-container,
.mobile-screen #mobile-bar .wolf-core-socials-container {
	display: none !important;
}

/* Mobile bar wrapper width */
#mobile-bar .flex-mobile-wrap {
	width: 100% !important;
}

/* Variation swatch width */
.swatch {
	width: 30px !important;
	height: 30px !important;
}

i.fab.fa-twitter,
i.fab.fa-x {
	cursor: pointer;
	content: url(../img/x.svg);
	color: inherit;
	margin: 0 auto;
	width: 50%;
	vertical-align: middle;
}
