@charset "UTF-8";
@import 'compass';

@import 'var';
@import 'global/mixins';

@import 'global/animations';

@import 'global/wow';

@import 'global/helpers';

@import 'global/skins';

@import 'global/containers';

@import 'global/lazyload';

@import 'global/fluid-video';

@import 'global/one-page';

@import 'global/video-bg';

/**
 * Colors
 */
@import 'colors/background';

@import 'dependencies/aos';
@import 'dependencies/arrows';
//@import 'dependencies/custom-animations';
@import 'dependencies/dots';
@import 'dependencies/flexslider-custom';
@import 'dependencies/swipebox-custom';

@import 'elements/accordion';

@import 'elements/album-disc';

@import 'elements/album-tracklist';

@import 'elements/animated-svg';
@import 'elements/audio-button';

@import 'elements/banner';

@import 'elements/bigtext';

@import 'elements/bit';

@import 'elements/blockquote';

@import 'elements/breadcrumb';

@import 'elements/button';

@import 'elements/clients';

@import 'elements/content-block';

@import 'elements/countdown';

@import 'elements/custom-heading';

//@import 'elements/fullpage';

@import 'elements/google-maps';

@import 'elements/heading';

@import 'elements/hour-list';

@import 'elements/icon';
//@import 'elements/icon-box';

@import 'elements/image';
@import 'elements/image-carousel';
@import 'elements/image-gallery';
@import 'elements/image-masonry';
@import 'elements/image-metro';
@import 'elements/image-mosaic';

@import 'elements/gallery-banner';

@import 'elements/image-hover-video';

@import 'elements/instagram';

@import 'elements/interactive-links';

@import 'elements/link';

@import 'elements/mailchimp';

@import 'elements/marquee-text';

@import 'elements/open-table';

@import 'elements/playlist';
@import 'elements/pricing-table';
@import 'elements/price-list';

@import 'elements/process';

@import 'elements/rotating-text';

@import 'elements/social-icons';

@import 'elements/spotify';

@import 'elements/team-member';

@import 'elements/testimonial-slider';

@import 'elements/text-hover-image';
@import 'elements/textual-showcase';

@import 'elements/theme-svg-animations';

@import 'elements/twitter';

@import 'elements/video-opener';

@import 'elements/video-preview';

@import 'elements/wc-search-form';

@import 'elements/work-category-marquee';

@import 'global/hover-effects';

@import 'hotfix';

/**
 * Media Queries
 */
@media screen and (min-width: 500px) {
	@import 'media-queries/500px';
}

@media screen and (min-width: 500px) and (max-width: 800px) {
	@import 'global/pre-grid';
}

@media screen and (min-width: 800px) {
	@import 'media-queries/800px';
}

@media screen and (min-width: 800px) {
	/**
	 * Grid
	 */
	@import 'global/grid';
}

@media screen and (min-width: 1050px) {
	@import 'media-queries/1000px';
}

@media screen and (min-width: 1200px) {
	@import 'media-queries/1200px';
}

@media screen and (max-width: 800px) {
	.wolf-core-hide-mobile {
		display: none !important;
	}
}

@media screen and (max-width: 1200px) {
	.wolf-core-hide-tablet {
		display: none !important;
	}
}

.xdebug-error{
	color:grey;
}

.xdebug-error a{
	color: black;
}
