/* Flex layout */
.wolf-core-row,
.wolf-core-row-inner-content,
.wolf-core-column-inner {
	display: flex;
	width: 100%;
}

.wolf-core-row-content {
	width: 100%;
	height: auto;
	display: flex;
}

.wolf-core-columns-container {
	width: 100%;
	height: auto;
	display: flex;
}

.wolf-core-row-full-height,
.wolf-core-row-min-height {
	.wolf-core-row-content,
	.wolf-core-columns-container {
		display: flex;
	}

	&.wolf-core-row-layout-block {
		.wolf-core-column {
			height: 100%;
		}
	}

	& > .wolf-core-row-wrapper > .wolf-core-row-content {
		height: 100%;

		.wolf-core-columns-container {
			height: 100%;
		}
	}

	.wolf-core-row-column-equal-height-yes {
		.wolf-core-row-wrapper,
		&.wolf-core-row-wrapper {
			align-self: stretch;
		}

		.wolf-core-column,
		.wolf-core-column-container {
			height: 100%;
		}
	}
}

/* Equal height */
.wolf-core-row-column-equal-height-yes {
	.wolf-core-column,
	.wolf-core-column-container {
		height: 100%;
	}
}

/* Bocks */
.wolf-core-row-layout-block {
	.wolf-core-column-container {
		padding-top: 0;
		padding-bottom: 0;
		//margin-bottom: 0;
	}

	.wolf-core-column-container {
		height: 100%;
		display: flex;
	}

	.wolf-core-column-wrapper {
		width: 100%;
	}

	//.wolf-core-column-content-type-block-text > .wolf-core-column-container,
	//.wolf-core-column-content-type-default > .wolf-core-column-container{
	.wolf-core-column-container {
		padding: 4em;

		.wolf-core-column-wrapper {
			max-width: 600px;
		}
	}

	.wolf-core-column-content-type-block-media > .wolf-core-column-container {
		padding: 0;
		min-height: 1px; // fill empty column

		.wolf-core-column-wrapper,
		img,
		iframe,
		embed,
		object,
		video {
			max-width: 100%;
			margin: 0 !important;
		}

		.fluid-video,
		.wolf-core-fluid-video,
		.wolf-jplayer-playlist,
		.wpm-playlist,
		.gist .gist-file,
		.wolf-core-youtube-container {
			margin-bottom: 0 !important;
		}

		.wpb-video-bg {
			max-width: none;
		}
	}
}

.wolf-core-row-layout-block .wolf-core-column {
	height: 100%;
}

/* Inner Row Equal Height */
.wolf-core-row-inner-column-equal-height-yes {
	&.wolf-core-row-inner-wrapper {
		display: flex;
	}
}

.wolf-core-row-inner {
	&.wolf-core-row-min-height > .wolf-core-row-inner-column-equal-height-yes {
		.wolf-core-row-inner-content .wolf-core-column {
			align-self: stretch;
		}
	}
}

.wolf-core-col-12 {
	margin: 0 0 0 0;
	width: 100% !important;
}

.wolf-core-row-layout-column
	> .wolf-core-row-wrapper
	> .wolf-core-row-content
	> .wolf-core-columns-container
	> .wolf-core-col-12 {
	margin-left: 0 !important;
	margin-right: 0 !important;
	//width: 100%!important;
}

/* Grid */
$golden: 1.618;
$cols: 12;
$width: 100%;
$gutter: $golden * 1%;
$wrapper: $width + 2 * $gutter;

$gap: 35px;
$gutter: $gap / 2;
$double_gap: $gap * 2;

/* Column layout default */
.wolf-core-row-layout-column {
	.wolf-core-row-content {
		width: calc(100% + #{$gap});
		margin-left: -$gutter;
	}

	.wolf-core-columns-container {
		.wolf-core-column {
			margin: 0 $gutter;

			&:first-of-type {
			}

			&:last-of-type {
			}
		}
	}
}

.wvc_rtl-columns-reverse {
	.wolf-core-columns-container {
		flex-direction: row-reverse;
	}
}

@for $i from 1 through 11 {
	$w: ($i * 100% / 12);
	.wolf-core-col-#{$i} {
		width: $w;
	}

	.wolf-core-row-layout-column .wolf-core-col-#{$i} {
		width: calc(#{$w} - #{$gap});
	}
}

/* 1/5 */
.wolf-core-col-15 {
	width: 20%;
}

.wolf-core-row-layout-column .wolf-core-col-15 {
	width: calc(20% - #{$gap});
}

/* 3/5 */
.wolf-core-col-35 {
	width: 60%;
}

.wolf-core-row-layout-column .wolf-core-col-35 {
	width: calc(60% - #{$gap});
}
