/**
 * @# Lazyload
 **/

/* to prevent flickering for lazyload */
.wolf-core-lazyload-bg {
	opacity: 0;
	transition: opacity 0.2s ease;
	//transition-delay:5s!important;
}

.lazy-hidden {
	opacity: 0;
}

.lazy-loaded {
	opacity: 1 !important;
}

/* Fix for Safari issue not removing lazy-hidden class */
.wolf-core-is-apple {
	.lazy-hidden {
		opacity: 1 !important;
	}
}
