/**
 * @# WOW
 **/
.wolf-core-wow {
	visibility: hidden;
}

.wolf-core-no-animations {
	.wolf-core-wow {
		visibility: visible;
	}
}

.aos-disabled {
	visibility: hidden;
}

.elementor-editor-active {
	.wolf-core-wow {
		visibility: visible;
	}
}
