/**
 * @# Helpers
 **/
/* Disable lightbox when draggin carousel */
.wolf-core-disabled {
  pointer-events: none !important;
}

/* Hide element */
.wolf-core-hide {
  display: none !important;
}

.wolf-core-hidden,
.wolf-core-display-print {
  display: none;
  height: 0;
  visibility: hidden;
}

.wolf-core-mobile-show {
  display: none;
}

.wolf-core-is-mobile .wolf-core-mobile-show {
  display: block;
}

.wolf-core-is-mobile .wolf-core-mobile-hide {
  display: none;
}

/* Table style element */
.wolf-core-table {
  display: table;
  width: 100%;
  height: 100%;
}

.wolf-core-table-cell {
  display: table-cell;
  vertical-align: middle;
}

/* Text alignement */
.wolf-core-text-left {
  text-align: left !important;
}

.wolf-core-text-center {
  text-align: center !important;
}

.wolf-core-text-right {
  text-align: right !important;
}

@media screen and (max-width: 800px) {
  .wolf-core-mobile-text-center,
  .wolf-core-mobile-text-align-center {
    text-align: center !important;
  }
  .wolf-core-mobile-text-center *,
  .wolf-core-mobile-text-align-center * {
    text-align: center !important;
  }

  .wolf-core-mobile-center,
  .wolf-core-mobile-align-center {
    margin: 0 auto !important;
  }
}
/* Content alignement */
.wolf-core-align-left {
  margin-left: 0;
  margin-right: auto;
}

.wolf-core-align-right {
  margin-right: 0;
  margin-left: auto;
}

.wolf-core-align-center {
  margin: 0 auto;
}

/* Font */
.wolf-core-font-bold {
  font-weight: bold !important;
  font-weight: 700 !important;
}

/* Overflow */
.wolf-core-overflow-hidden {
  overflow: hidden;
}

/* Simple button */
.wolf-core-simple-button {
  color: #fff !important;
  padding: 1em 1.2em;
  line-height: 1;
  border: 1px solid #fff;
  display: inline-block;
  transition: 0.25s;
}
.wolf-core-simple-button:hover {
  background: #fff;
  color: #333 !important;
}

/* Backgrounds */
.wolf-core-img-bg {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

.wolf-core-img-bg-color {
  display: inline-block;
}

.wolf-core-img-bg-overlay {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wolf-core-img-cover {
  object-fit: cover;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
  z-index: 0;
  font-family: 'object-fit: cover;';
}

.wolf-core-compat-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.wolf-core-compat-cover .wolf-core-img-cover {
  opacity: 0;
}

.wolf-core-img-contain {
  object-fit: contain;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
  z-index: 0;
  font-family: 'object-fit: contain;';
}

.wolf-core-compat-contain {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.wolf-core-compat-contain .wolf-core-img-contain {
  opacity: 0;
}

/* Cover sizes */
.wolf-core-cover-landscape,
.wolf-core-cover-square,
.wolf-core-cover-portrait {
  position: relative;
  display: block;
  width: 100%;
}
.wolf-core-cover-landscape:before,
.wolf-core-cover-square:before,
.wolf-core-cover-portrait:before {
  content: ' ';
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.wolf-core-cover-landscape {
  padding-bottom: 50%;
}

.wolf-core-cover-square {
  padding-bottom: 100%;
}

.wolf-core-cover-portrait {
  padding-bottom: 150%;
}

/* Contain floats */
.wolf-core-clearfix,
.wolf-core-clear {
  zoom: 1;
}
.wolf-core-clearfix:before, .wolf-core-clearfix:after,
.wolf-core-clear:before,
.wolf-core-clear:after {
  content: '';
  display: table;
}
.wolf-core-clearfix:after,
.wolf-core-clear:after {
  clear: both;
}

.wolf-core-big-text {
  font-size: 1.5em;
}

/* Overlay */
.wolf-core-bg-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.wolf-core-video-parallax {
  display: block;
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.wolf-core-video-parallax .wolf-core-img-cover {
  z-index: -101;
}

.wolf-core-parallax {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.padding-bottom-50 {
  padding-bottom: 50px;
}

.wolf-core-modal-window-open {
  cursor: pointer;
}

.wolf-core-font-dark {
  color: #676767;
}
.wolf-core-font-dark h1:not(.wolf-core-service-title),
.wolf-core-font-dark h2:not(.wolf-core-service-title),
.wolf-core-font-dark h3:not(.wolf-core-service-title),
.wolf-core-font-dark h4:not(.wolf-core-service-title),
.wolf-core-font-dark h5:not(.wolf-core-service-title),
.wolf-core-font-dark h6:not(.wolf-core-service-title),
.wolf-core-font-dark strong,
.wolf-core-font-dark b,
.wolf-core-font-dark .wolf-core-counter,
.wolf-core-font-dark .wolf-core-bigtext-link,
.wolf-core-font-dark .wolf-core-fittext-link,
.wolf-core-font-dark .wolf-core-pie-counter {
  color: #444;
}
.wolf-core-font-dark .wolf-core-countdown {
  color: #333;
}
.wolf-core-font-dark .wolf-core-toggle-title a {
  color: #333333 !important;
}
.wolf-core-font-dark .wolf-core-accordion .ui-accordion-content {
  background: #fff;
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
}
.wolf-core-font-dark .wolf-core-accordion-tab {
  background: #fff;
  border-bottom: solid 1px rgba(0, 0, 0, 0.05);
}
.wolf-core-font-dark .wolf-core-accordion-tab a {
  color: #333333 !important;
}
.wolf-core-font-dark .wolf-core-tabs-menu li.ui-tabs-active a {
  background: #fff;
}
.wolf-core-font-dark .wolf-core-tabs-menu li a {
  color: #333 !important;
}
.wolf-core-font-dark .wolf-core-tabs-container .ui-tabs-panel {
  background: #fff;
}
.wolf-core-font-dark .wolf-core-social,
.wolf-core-font-dark .wolf-core-icon-box a,
.wolf-core-font-dark .wolf-core-team-member-social-container a {
  color: #333;
}
.wolf-core-font-dark .wolf-share-button-count {
  background: #333;
}

.wolf-core-font-light {
  color: #f7f7f7;
}
.wolf-core-font-light h1:not(.wolf-core-service-title),
.wolf-core-font-light h2:not(.wolf-core-service-title),
.wolf-core-font-light h3:not(.wolf-core-service-title),
.wolf-core-font-light h4:not(.wolf-core-service-title),
.wolf-core-font-light h5:not(.wolf-core-service-title),
.wolf-core-font-light h6:not(.wolf-core-service-title),
.wolf-core-font-light strong,
.wolf-core-font-light b,
.wolf-core-font-light .wolf-core-counter,
.wolf-core-font-light .wolf-core-bigtext-link,
.wolf-core-font-light .wolf-core-fittext-link,
.wolf-core-font-light .wolf-core-pie-counter {
  color: #fff;
}
.wolf-core-font-light .wolf-core-icon-box.wolf-core-icon-type-circle.wolf-core-icon-default-style
.fa-stack,
.wolf-core-font-light .wolf-core-icon-box.wolf-core-icon-type-square.wolf-core-icon-default-style
.fa-stack {
  border-color: #fff !important;
}
.wolf-core-font-light .wolf-core-icon-box.wolf-core-icon-type-circle.wolf-core-icon-default-style
.fa-stack:hover,
.wolf-core-font-light .wolf-core-icon-box.wolf-core-icon-type-square.wolf-core-icon-default-style
.fa-stack:hover {
  border-color: #1d1d1d !important;
}
.wolf-core-font-light .wolf-core-countdown {
  color: #fff;
}
.wolf-core-font-light .wolf-core-toggle-title a {
  color: #fff !important;
}
.wolf-core-font-light .wolf-core-accordion .ui-accordion-content {
  background: #333333;
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
}
.wolf-core-font-light .wolf-core-accordion-tab {
  background: #333333;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}
.wolf-core-font-light .wolf-core-accordion-tab a {
  color: #fff !important;
}
.wolf-core-font-light .wolf-core-tabs-menu li.ui-tabs-active a {
  background: #333;
}
.wolf-core-font-light .wolf-core-tabs-menu li a {
  color: #fff !important;
}
.wolf-core-font-light .wolf-core-tabs-container .ui-tabs-panel {
  background: #333;
}
.wolf-core-font-light .owl-dot {
  background: #fff;
}
.wolf-core-font-light .owl-dot.active {
  background: none !important;
  box-shadow: 0 0 0 1px #fff;
}
.wolf-core-font-light .owl-dot:hover {
  box-shadow: 0 0 0 1px #fff;
}
.wolf-core-font-light .wolf-core-social,
.wolf-core-font-light .wolf-core-icon-box a,
.wolf-core-font-light .wolf-core-team-member-social-container a {
  color: #fff;
}
.wolf-core-font-light .wolf-bigtweet-content:after {
  background: rgba(255, 255, 255, 0.1);
}
.wolf-core-font-light .testimonial-inner {
  background: #333;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.wolf-core-font-light .wolf-share-button-count {
  background: #fff;
}

/**
 * @# Album Disc
 **/
.wolf-core-album-disc {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
}

.wolf-core-ad-cover-img {
  width: 100%;
}

.wolf-core-ad-align-left {
  margin-left: 0;
}

.wolf-core-ad-align-right {
  margin-right: 0;
}

.wolf-core-ad-cover-container {
  margin: 0 32% 10px 0;
  position: relative;
  z-index: 1;
}

.wolf-core-ad-link-mask {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 14;
}

.wolf-core-ad-cover-inner {
  position: relative;
  z-index: 0;
  box-shadow: 0px 10px 3px -9px rgba(0, 0, 0, 0.77);
  overflow: hidden;
}

.wolf-core-ad-disc-inner {
  width: 100%;
  height: 100%;
}

.wolf-core-ad-cover-img {
  border-radius: 2px;
  position: relative;
  left: 1px;
  backface-visibility: hidden;
}

.wolf-core-ad-cover-border {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -1px;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent url("../img/album-disc/cd-cover-border.png") left top no-repeat;
  background-size: cover;
  opacity: 0.88;
}

.wolf-core-ad-worn-border-no .wolf-core-ad-cover-border {
  background: none;
}

.wolf-core-ad-disc-container {
  position: absolute;
  transition: all 0.7s cubic-bezier(0, 0.45, 0.54, 0.99);
  transform: translate3d(0, 0, 0) rotate(0);
  border-radius: 50%;
  overflow: hidden;
}

.wolf-core-ad-cd .wolf-core-ad-disc-container {
  top: 14px;
  left: 14px;
  width: calc(100% - 28px);
  height: calc(100% - 28px);
  box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.66), 0px 0px 0px 5px rgba(0, 0, 0, 0.22), 0px 0px 0px 3px rgba(0, 0, 0, 0.88);
}

.wolf-core-ad-disc-text {
  z-index: 5;
  position: absolute;
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  top: 5px;
  left: 5px;
  background: transparent url("../img/album-disc/cd-disc-circular-text.png") left top no-repeat;
  transform: translate3d(0, 0, 0);
  background-size: cover;
  opacity: 0.88;
  margin: -2px;
}

.wolf-core-ad-disc-hole {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  height: 32.5%;
  width: 32.5%;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.99);
  z-index: 2;
  background: rgba(255, 255, 255, 0.35);
  border-radius: 50%;
}

.wolf-core-vinyl {
  z-index: 5;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent url("../img/album-disc/vinyl.png") left top no-repeat;
  background-size: cover;
}

.wolf-core-ad-disc-img {
  backface-visibility: hidden;
  width: 100%;
  width: 100%;
  vertical-align: middle;
}

.wolf-core-ad-vinyl .wolf-core-ad-disc-container {
  top: 1%;
  left: 1%;
  width: 98%;
  height: 98%;
}
.wolf-core-ad-vinyl .wolf-core-ad-disc-img {
  width: 40%;
  height: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 0;
}

.animated.wolf-core-ad-reveal {
  transform: translate3d(40%, 0, 0) rotate(-42deg);
}

.wolf-core-ad-rotate-always .wolf-core-ad-disc-inner,
.wolf-core-ad-rotate-hover .wolf-core-ad-disc-inner,
.wolf-core-ad-rotate-hover-stop .wolf-core-ad-disc-inner {
  animation: disc_spin 3.5s linear infinite;
}

.wolf-core-ad-rotate-hover:not(:hover) .wolf-core-ad-disc-inner {
  animation-play-state: paused;
}

.wolf-core-ad-rotate-hover-stop:hover .wolf-core-ad-disc-inner {
  animation-play-state: paused;
}

@keyframes disc_spin {
  100% {
    transform: rotate(360deg);
  }
}

.wolf-core-no-animations .wolf-core-ad-reveal {
  transform: translate3d(40%, 0, 0) rotate(-42deg);
}

/**
 * @# Bandsintown Events
 **/
.wolf-core-bandwintown-events .bit-widget {
  font-size: inherit;
  color: inherit;
}
.wolf-core-bandwintown-events .bit-widget .bit-event {
  color: inherit;
}

/**
 * @# Bandsintown Button
 **/
/**
 * @# Custom Heading
 **/
.wolf-core-custom-heading h1,
.wolf-core-custom-heading h2,
.wolf-core-custom-heading h3,
.wolf-core-custom-heading h4,
.wolf-core-custom-heading h5,
.wolf-core-custom-heading h6,
.wolf-core-custom-heading p,
.wolf-core-custom-heading span {
  margin-bottom: 0;
}

.wolf-core-custom-heading-line {
  display: block;
}

/**
 * @# Heading
 **/
.wolf-core-heading h1,
.wolf-core-heading h2,
.wolf-core-heading h3,
.wolf-core-heading h4,
.wolf-core-heading h5,
.wolf-core-heading h6,
.wolf-core-heading p,
.wolf-core-heading span {
  margin-bottom: 0;
}
.wolf-core-heading.wolf-core-heading-custom-font-size .elementor-heading-title {
  font-size: inherit !important;
}
.wolf-core-heading .elementor-heading-title {
  font-family: inherit !important;
  font-weight: inherit !important;
  letter-spacing: inherit !important;
  line-height: inherit !important;
  text-transform: inherit !important;
}

/**
 * @# Video Opener
 **/
.wolf-core-video-opener-container {
  margin-left: auto;
  margin-right: auto;
}
.wolf-core-video-opener-container a {
  display: block;
  outline: none;
  width: 66px;
  transition: transform 0.2s ease-out;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

.wolf-core-video-opener-align-left {
  margin-left: 0;
}
.wolf-core-video-opener-align-left .wolf-core-video-opener {
  margin-left: 0;
}

.wolf-core-video-opener-align-right {
  margin-right: 0;
}
.wolf-core-video-opener-align-right .wolf-core-video-opener {
  margin-right: 0;
}

.wolf-core-video-opener-default a {
  height: 66px;
}

.wolf-core-video-opener-icon {
  background: #333;
  color: #000;
  box-shadow: inset 0 0 0 2px #333;
}

.wolf-core-video-opener-attention-seeker .wolf-core-icon-container {
  position: relative;
}
.wolf-core-video-opener-attention-seeker .wolf-core-icon-background-fill {
  top: 0;
  left: 0;
  padding: 0;
  z-index: -1;
  box-shadow: 0 0 0 2px;
  opacity: 0;
  transform: scale(0.9);
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  box-sizing: content-box;
}

.wolf-core-font-dark .wolf-core-video-opener-attention-seeker .wolf-core-icon-background-fill {
  animation: sonarEffectDark 1.3s infinite ease-out 75ms;
}

.wolf-core-font-light .wolf-core-video-opener-attention-seeker .wolf-core-icon-background-fill {
  animation: sonarEffectLight 1.3s infinite ease-out 75ms;
}

.admin-bar .lity-close {
  top: 32px;
}

.wolf-core-video-opener-caption-position-top
.wolf-core-video-opener-caption-container,
.wolf-core-video-opener-caption-position-bottom
.wolf-core-video-opener-caption-container {
  text-align: center;
}
.wolf-core-video-opener-caption-position-top
.wolf-core-video-opener-caption-container .wolf-core-video-opener-caption,
.wolf-core-video-opener-caption-position-bottom
.wolf-core-video-opener-caption-container .wolf-core-video-opener-caption {
  display: block;
}

.wolf-core-video-opener-caption-position-top
.wolf-core-video-opener-caption-container .wolf-core-video-opener-caption {
  margin-bottom: 28px;
}

.wolf-core-video-opener-caption-position-bottom
.wolf-core-video-opener-caption-container .wolf-core-video-opener-caption {
  margin-top: 28px;
}

.wolf-core-video-opener-caption-position-left
.wolf-core-video-opener-caption-container,
.wolf-core-video-opener-caption-position-right
.wolf-core-video-opener-caption-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wolf-core-video-opener-caption-position-left
.wolf-core-video-opener-caption-container .wolf-core-video-opener {
  margin-left: 30px;
}

.wolf-core-video-opener-caption-position-right
.wolf-core-video-opener-caption-container .wolf-core-video-opener {
  margin-right: 30px;
}

.wolf-core-video-opener-align-center .wolf-core-video-opener-caption-container {
  justify-content: center;
}
.wolf-core-video-opener-align-center.wolf-core-video-opener-caption-position-left .wolf-core-video-opener {
  margin-right: 0;
}
.wolf-core-video-opener-align-center.wolf-core-video-opener-caption-position-right .wolf-core-video-opener {
  margin-left: 0;
}

.wolf-core-video-opener-align-left .wolf-core-video-opener-caption-container {
  justify-content: flex-start;
}

.wolf-core-video-opener-align-right .wolf-core-video-opener-caption-container {
  justify-content: flex-end;
}

.wolf-core-video-opener-caption-text {
  font-weight: 700;
}
