/**
 * @# Bandsintown Events
 **/
.wolf-core-bandwintown-events {
	.bit-widget {
		font-size: inherit;
		color: inherit;

		.bit-event {
			color: inherit;
		}
	}
}

/**
 * @# Bandsintown Button
 **/
