/**
 * @# Breadcrumb
 **/
.wolf-core-breadcrumb-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	li {
		display: inline;
	}
}

.wolf-core-breadcrumb-delimiter {
	margin-left: 5px;
	margin-right: 5px;
}
