/**
 * @# Countdown
 **/
.wolf-core-countdown-container {
	//margin: 30px auto;
	transition: opacity 0.5s linear 0.3s;
	opacity: 0;
	font-size: 28px; // default number font

	&.wolf-core-countdown-has-color {
		.wolf-core-countdown {
			//color: inherit;
		}
	}

	.wolf-core-countdown-text-has-color {
		.countdown-period {
			//color: inherit;
		}
	}

	.countdown-rtl {
		direction: rtl;
	}

	.countdown-row {
		display: flex;
		justify-content: space-between;
		justify-content: space-around;
		text-align: center;
		align-items: center;

		width: 100%;
	}

	.countdown-section {
		list-style-type: none;
		flex: 1;
		//float: left;
		//width: 25%;
	}

	.countdown-amount {
		//font-size: 24px;
		font-weight: 700;
		position: relative;
	}

	.countdown-period {
		display: block;
		//font-size: 15px !important;
	}

	.countdown-descr {
		display: block;
		width: 100%;
	}
}

.wolf-core-countdown {
	margin-bottom: 28px; // balance unknown top padding
	@extend .wolf-core-clearfix;
}

.wolf-core-loaded .wolf-core-countdown-container {
	opacity: 1;
}

.wolf-core-countdown-container-loaded {
	opacity: 1;
}
