/**
 * @# Hour List
 **/
.wolf-core-hour-list{
	//font-size: 1.4em;
	margin: 0;
	padding: 0;
	margin-bottom: 14px;
	list-style: none;
}

.wolf-core-h-container{
	list-style-type: none;
	display: flex;
	width: 100%;
	align-items: baseline;
}

.wolf-core-h-day,
.wolf-core-h-hours{
	white-space: nowrap;
	width: auto;
	font-size: 18px;
	//font-weight: 700;
}

.wolf-core-h-day{

}

.wolf-core-h-hours{

}

.wolf-core-h-line{
	border-bottom: 2px dotted #ddd;
	flex-grow: 1;
	margin: 0 10px;
}
