/**
 * @# Icon box
 **/
.fa-1x {
	font-size: 1.4em;
}

.fa-stack {
	width: 2em !important;
}

/* Global layout */
.wolf-core-icon-box {
	display: block;

	//margin: 0 auto;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;

	.wolf-core-text-danger {
		color: #a94442;
	}

	p {
		margin: 0 auto;
		font-size: 14px;
		max-width: 450px;
	}

	&.wolf-core-text-left {
		p {
			margin-left: 0;
		}
	}

	&.wolf-core-text-right {
		p {
			margin-left: 0;
		}
	}

	.fa {
		//width: 100%;
		height: 100%;

		&:before {
			line-height: inherit;
			position: relative;
			position: absolute;
			top: 50%;
			transform: translate3d(-50%, -50%, 0);
		}
	}

	&.wolf-core-icon-position-left,
	&.wolf-core-icon-position-right,
	&.wolf-core-icon-position-left_from_title,
	&.wolf-core-icon-position-right_from_title,
	&.wolf-core-icon-background-style-none {
		.fa:before {
			position: static;
			top: 0;
			transform: translate3d(0, 0, 0);
		}
	}
}

.wolf-core-image-icon {
	//margin-bottom: 15px;
	vertical-align: middle;
}

.wolf-core-icon-title {
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 18px;
	line-height: 1.2;
	display: block;
}

.wolf-core-icon-container {
	position: relative;
	line-height: inherit;
}

.wolf-core-vivus {
	visibility: hidden;
}

/* Sizes */
.wolf-core-icon-box-tiny {
	.wolf-core-image-icon,
	.wolf-core-svg-icon svg {
		max-width: 16px;
	}

	.wolf-core-icon-background-style-none {
		.wolf-core-icon:before {
			top: 3px;
		}
	}
}

.wolf-core-icon-box-small {
	.fa {
		line-height: 60px;
	}

	.wolf-core-image-icon,
	.wolf-core-svg-icon svg {
		max-width: 32px;
	}
}

.wolf-core-icon-box-medium {
	.fa {
		line-height: 90px;
	}

	.wolf-core-image-icon,
	.wolf-core-svg-icon svg {
		max-width: 48px;
	}
}

.wolf-core-icon-box-large {
	.fa {
		line-height: 120px;
	}

	.wolf-core-image-icon,
	.wolf-core-svg-icon svg {
		max-width: 64px;
	}
}

.wolf-core-icon-box-very-large {
	.fa {
		line-height: 150px;
	}

	.wolf-core-image-icon,
	.wolf-core-svg-icon svg {
		max-width: 80px;
	}
}

/* Border */
.wolf-core-icon-container {
	border: 2px solid;
}

/* No background */
.wolf-core-social-icon.wolf-core-icon-background-style-none,
.wolf-core-icon-box.wolf-core-icon-background-style-none {
	.wolf-core-icon-container {
		background: transparent !important;
		border: none !important;
		box-shadow: inset 0 0 0 0 transparent !important;
		width: auto;
	}

	&.wolf-core-icon-box-tiny {
		.wolf-core-icon-holder {
			margin-bottom: 10px;
		}
	}

	&.wolf-core-icon-box-small {
		.wolf-core-icon-holder {
			margin-bottom: 16px;
		}
	}
}

.wolf-core-icon-background-style-none {
	&.wolf-core-icon-position-top .wolf-core-icon-text-holder {
		margin-top: 0;
	}
}

.wolf-core-icon-box:not(.wolf-core-icon-background-style-none),
.wolf-core-social-icon:not(.wolf-core-icon-background-style-none) {
	/* Icon adjustment */
	.fa {
		top: -1px;
		left: -0.5px;
	}

	.socicon-youtube {
		top: 0;
	}
}

/* Default icon color when a background is set */
.wolf-core-icon-background-style-boxed,
.wolf-core-icon-background-style-rounded-less,
.wolf-core-icon-background-style-rounded {
	.wolf-core-icon {
		//color: #fff;
	}
}

/* Position */
.wolf-core-icon-position-top {
	text-align: center;

	.wolf-core-image-icon {
		margin: 0 auto 15px;
	}

	&.wolf-core-icon-box-tiny {
		.wolf-core-image-icon {
			margin: 0 auto 5px;
		}
	}

	&.wolf-core-icon-box-small {
		.wolf-core-image-icon {
			margin: 0 auto 8px;
		}
	}

	&.wolf-core-icon-box-large {
		.wolf-core-image-icon {
			margin: 0 auto 12px;
		}
	}

	&.wolf-core-icon-box-very-large {
		.wolf-core-image-icon {
			margin: 0 auto 15px;
		}
	}

	.wolf-core-icon-text-holder {
		display: block;
		margin-top: 28px;
	}

	&.wolf-core-background-style-none {
		.wolf-core-icon-text-holder {
			margin-top: 0;
		}
	}

	&.wolf-core-text-left {
		.wolf-core-image-icon {
			margin-left: 0;
		}
	}

	&.wolf-core-text-right {
		.wolf-core-image-icon {
			margin-right: 0;
		}
	}
}

.wolf-core-icon-position-left,
.wolf-core-icon-position-right {
	display: flex;

	.wolf-core-icon-holder,
	.wolf-core-icon-text-holder {
		display: flex;
		align-self: flex-start;
	}

	.wolf-core-icon-container {
		align-self: flex-start;
	}

	.wolf-core-icon-title {
		margin-bottom: 0;
		line-height: 1.8;
	}
}

.wolf-core-icon-position-left {
	.wolf-core-icon-holder {
		float: left;
		padding-right: 28px;
	}

	.wolf-core-icon-text-holder {
		text-align: left;
	}
}

.wolf-core-icon-position-right {
	.wolf-core-icon-holder {
		float: right;
		padding-left: 28px;
	}

	.wolf-core-icon-text-holder {
		flex-direction: row-reverse;
		text-align: right;
	}
}

.wolf-core-icon-position-left_from_title {
	.wolf-core-icon-title-holder {
		display: table;
		//margin: 0 0 0;
	}

	p {
		margin-left: 0;
	}

	.wolf-core-icon-holder,
	.wolf-core-icon-title {
		display: table-cell;
		height: 100%;
		vertical-align: middle;
		float: none;
	}

	.wolf-core-icon-holder {
		padding-right: 28px;
		width: auto !important;
	}
}

.wolf-core-icon-position-right_from_title {
	p {
		clear: both;
		text-align: right;
		float: right;
	}

	.wolf-core-icon-title-holder {
		float: right;
		display: table;
		//margin: 0 0 0;
	}

	.wolf-core-icon-holder,
	.wolf-core-icon-title {
		display: table-cell;
		height: 100%;
		vertical-align: middle;
		float: none;
	}

	.wolf-core-icon-holder {
		padding-left: 28px;
		width: auto !important;
	}
}

.wolf-core-icon-position-right_from_title,
.wolf-core-icon-position-left_from_title {
	.wolf-core-icon-title-holder {
		margin-bottom: 1em;
	}

	&.wolf-core-icon-background-style-none {
		.wolf-core-icon-title-holder {
			margin-bottom: 0;
		}
	}
}

/* Dark font */
.wolf-core-font-dark {
	.wolf-core-icon-text-inner {
		p {
			color: #333;
		}
	}
}

/* Light font */
.wolf-core-font-light {
	.wolf-core-icon-text-inner {
		p {
			color: #fff;
		}
	}
}

/* Hover effect */

//none
.wolf-core-icon-hover-none {
	.wolf-core-icon-container,
	.wolf-core-icon-container:hover {
		opacity: 1 !important;
	}
}

.wolf-core-icon-hover-none:not(.wolf-core-icon-background-style-none):not(.wolf-core-icon-background-style-rounded-outline):not(.wolf-core-icon-background-style-boxed-outline):not(.wolf-core-icon-background-style-rounded-less-outline),
.wolf-core-icon-hover-opacity:not(.wolf-core-icon-background-style-none):not(.wolf-core-icon-background-style-rounded-outline):not(.wolf-core-icon-background-style-boxed-outline):not(.wolf-core-icon-background-style-rounded-less-outline) {
	.wolf-core-icon {
		//color: #fff !important;
	}

	.wolf-core-icon-background-color-white,
	.wolf-core-icon-background-color-lightergrey {
		.wolf-core-icon {
			color: #333 !important;
		}
	}
}

//opacity
.wolf-core-icon-hover-opacity {
	.wolf-core-icon-container {
		transition: opacity 0.3s;
	}

	&:hover {
		.wolf-core-icon-container {
			opacity: 0.66;
		}
	}
}

//fill-in // OK
.wolf-core-icon-hover-fill {
	.wolf-core-icon-container {
		transition: box-shadow 0.3s ease;
	}

	.wolf-core-icon {
		transition: color 0.3s ease;
	}

	.wolf-core-icon-container {
		background-color: transparent !important;
	}

	&.wolf-core-icon-background-style-rounded,
	&.wolf-core-icon-background-style-boxed,
	&.wolf-core-icon-background-style-rounded-less {
		.wolf-core-icon-container {
			border: none;
			box-shadow: inset 0 0 0 1em;

			&:not(:hover) {
				.wolf-core-icon {
					//color: #fff;
				}
			}

			&:not(:hover).wolf-core-icon-background-color-white,
			&:not(:hover).wolf-core-icon-background-color-lightergrey {
				.wolf-core-icon {
					//color: #333;
				}
			}
		}

		.wolf-core-icon-container:hover {
			box-shadow: inset 0 0 0 2px;
		}
	}

	&.wolf-core-icon-background-style-rounded-outline,
	&.wolf-core-icon-background-style-boxed-outline,
	&.wolf-core-icon-background-style-rounded-less-outline {
		.wolf-core-icon-container {
			border: none;
			box-shadow: inset 0 0 0 2px;
		}

		.wolf-core-icon-container:hover {
			box-shadow: inset 0 0 0 1em;

			.wolf-core-icon {
				//color: #fff;
			}

			&.wolf-core-icon-background-color-white,
			&.wolf-core-icon-background-color-lightergrey {
				.wolf-core-icon {
					color: #333;
				}
			}
		}
	}
}

//border-inset
.wolf-core-icon-hover-border-inset {
	.wolf-core-icon-container {
		background-color: transparent;
	}

	.wolf-core-icon {
		position: relative;
		transition: color 0.3s;
		z-index: 1;
	}

	.wolf-core-icon-background-fill {
		pointer-events: none;
		position: absolute;
		width: 100%;
		height: 100%;
		box-sizing: content-box;
		top: -2px;
		left: -2px;
		padding: 2px;
		z-index: 0;
		transition: transform 0.2s, opacity 0.2s;
		//background-color:#333;
	}

	&.wolf-core-icon-background-style-rounded,
	&.wolf-core-icon-background-style-rounded-outline {
		.wolf-core-icon-background-fill {
			border-radius: 999em;
		}
	}

	&.wolf-core-icon-background-style-rounded,
	&.wolf-core-icon-background-style-boxed,
	&.wolf-core-icon-background-style-rounded-less {
		.wolf-core-icon {
			//color: #fff;
		}

		.wolf-core-icon-background-color-white,
		.wolf-core-icon-background-color-lightergrey {
			.wolf-core-icon {
				color: #333;
			}
		}
	}

	&.wolf-core-icon-background-style-rounded-outline,
	&.wolf-core-icon-background-style-boxed-outline,
	&.wolf-core-icon-background-style-rounded-less-outline {
		.wolf-core-icon-container {
			.wolf-core-icon-background-fill {
				opacity: 0;
			}

			&:hover {
				.wolf-core-icon-background-fill {
					opacity: 1;
				}
				.wolf-core-icon {
					//color: #fff;
				}

				.wolf-core-icon-background-color-white,
				.wolf-core-icon-background-color-lightergrey {
					.wolf-core-icon {
						color: #333;
					}
				}
			}
		}
	}

	.wolf-core-icon-container:hover .wolf-core-icon-background-fill {
		transform: scale(0.85);
	}
}

//pop
.wolf-core-icon-hover-pop {
	.wolf-core-icon-container {
		background-color: transparent;
	}

	.wolf-core-icon {
		position: relative;
		transition: color 0.3s;
		z-index: 1;
	}

	.wolf-core-icon-background-fill {
		pointer-events: none;
		position: absolute;
		width: 100%;
		height: 100%;
		box-sizing: content-box;
		top: -2px;
		left: -2px;
		padding: 2px;
		z-index: 0;
		transition: transform 0.2s, opacity 0.2s;
	}

	&.wolf-core-icon-background-style-rounded,
	&.wolf-core-icon-background-style-rounded-outline {
		.wolf-core-icon-background-fill {
			border-radius: 999em;
		}
	}

	&.wolf-core-icon-background-style-rounded,
	&.wolf-core-icon-background-style-boxed,
	&.wolf-core-icon-background-style-rounded-less {
		.wolf-core-icon:not(:hover) {
			//color: #fff;
		}

		.wolf-core-icon-background-color-white,
		.wolf-core-icon-background-color-lightergrey {
			.wolf-core-icon:not(:hover) {
				color: #333;
			}
		}

		&:hover {
			.wolf-core-icon-background-fill {
				transform: scale(1.3);
				opacity: 0;
			}
		}
	}

	&.wolf-core-icon-background-style-rounded-outline,
	&.wolf-core-icon-background-style-boxed-outline,
	&.wolf-core-icon-background-style-rounded-less-outline {
		.wolf-core-icon-background-fill {
			opacity: 0;
			transform: scale(1.3);
		}

		&:hover {
			.wolf-core-icon-background-fill {
				transform: scale(1);
				opacity: 1;
			}
			.wolf-core-icon {
				//color: #fff;
			}
			.wolf-core-icon-background-color-white,
			.wolf-core-icon-background-color-lightergrey {
				.wolf-core-icon {
					color: #333;
				}
			}
		}
	}
}

//rotate // OK
.wolf-core-icon-hover-rotate {
	.wolf-core-icon:hover {
		animation: spinAround 2s linear infinite;
	}
}

@keyframes spinAround {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

//wave/sonar
.wolf-core-icon-hover-sonar {
	.wolf-core-icon-container {
		transition: transform ease-out 0.1s, background 0.2s;
	}

	.wolf-core-icon-background-fill {
		top: 0;
		left: 0;
		padding: 0;
		z-index: -1;
		box-shadow: 0 0 0 2px;
		opacity: 0;
		transform: scale(0.9);
		pointer-events: none;
		position: absolute;
		width: 100%;
		height: 100%;
		content: '';
		box-sizing: content-box;
	}

	&.wolf-core-icon-background-style-rounded,
	&.wolf-core-icon-background-style-rounded-outline {
		.wolf-core-icon-background-fill {
			border-radius: 999em;
		}
	}

	&.wolf-core-icon-background-style-rounded,
	&.wolf-core-icon-background-style-boxed,
	&.wolf-core-icon-background-style-rounded-less {
		.wolf-core-icon {
			//color: #fff;
		}

		.wolf-core-icon-background-color-white,
		.wolf-core-icon-background-color-lightergrey {
			.wolf-core-icon {
				color: #333;
			}
		}
	}

	.wolf-core-icon-container:hover {
		transform: scale(0.93);
	}

	.wolf-core-icon-container:hover .wolf-core-icon-background-fill {
		animation: sonarEffect 1.3s infinite ease-out 75ms;
	}
}

.wolf-core-font-dark {
	.wolf-core-icon-hover-sonar {
		.wolf-core-icon-container:hover .wolf-core-icon-background-fill {
			animation: sonarEffectDark 1.3s infinite ease-out 75ms;
		}
	}
}

.wolf-core-font-light {
	.wolf-core-icon-hover-sonar {
		.wolf-core-icon-container:hover .wolf-core-icon-background-fill {
			animation: sonarEffectLight 1.3s infinite ease-out 75ms;
		}
	}
}

@keyframes sonarEffectDark {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1),
			0 0 0 10px rgba(255, 255, 255, 0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1),
			0 0 0 10px rgba(255, 255, 255, 0.5);
		transform: scale(1.5);
		opacity: 0;
	}
}

@keyframes sonarEffectLight {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1), 0 0 0 10px rgba(0, 0, 0, 0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1), 0 0 0 10px rgba(0, 0, 0, 0.5);
		transform: scale(1.5);
		opacity: 0;
	}
}

/* Line icon adjustment */
.wolf-core-icon-box {
	.fa-stack-1x,
	.fa-stack-2x,
	.fa-stack-3x,
	.fa-stack-4x {
		&.line-icon-paperplane {
			left: -3px;
			top: -2px;
		}

		&.line-icon-phone,
		&.line-icon-location,
		&.line-icon-like,
		&.line-icon-user {
			//top:-2px;
		}
	}
}

.wolf-core-font-dark {
	.wolf-core-svg-icon * {
		stroke: #333;
	}
}

.wolf-core-font-light {
	.wolf-core-svg-icon * {
		stroke: #fff;
	}
}

/* Specifi icon adjustment */
.socicon-youtube:before {
	position: relative;
	//top: -0.05em;
}

@media screen and (min-width: 800px) {
	.wolf-core-icon-container-alignment-left {
		.wolf-core-icon-title-holder {
			margin-left: 0;
			margin-right: auto;
		}
	}

	.wolf-core-icon-container-alignment-center {
		.wolf-core-icon-title-holder {
			margin: 0 auto;
		}
	}

	.wolf-core-icon-container-alignment-right {
		.wolf-core-icon-title-holder {
			margin-right: 0;
			margin-left: auto;
		}
	}
}
