.wolf-core-gallery-image_grid {
	display: grid;

	&:before {
		display: none;
	}

	&.wolf-core-gallery-padding-yes {
		grid-gap: 15px;
	}

	figure {
		margin: 0;
		padding: 0;
	}

	img {
		transform: translateZ(0);
		backface-visibility: hidden;
		display: block;
		vertical-align: bottom;
		width: 100%;
	}
}

.wolf-core-gallery-masonry {
	//grid-template-rows: masonry;
}

@media screen and (min-width: 480px) {
	.wolf-core-gallery-image_grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 800px) {
	$columns: 6;
	@for $i from 1 through $columns {
		.wolf-core-gallery-columns-#{$i} {
			grid-template-columns: repeat(#{$i}, 1fr);
		}
	}
}

// $columns: 6;
// $width: 100%;
// @for $i from 1 through $columns {
// 	.wolf-core-gallery-columns-#{$i} {
// 		.wolf-core-img-image_grid {
// 			float: left;
// 			width: ($width / $i);
// 		}

// 		.wolf-core-img-masonry {
// 			float: left;
// 			width: ($width / $i) - 0.3;
// 		}
// 	}
// }

// @for $i from 1 through $columns {
// 	.wolf-core-clients-columns-#{$i} {
// 		.wolf-core-client-grid {
// 			float: left;
// 			width: ($width / $i);
// 		}

// 		.wolf-core-client-masonry {
// 			float: left;
// 			width: ($width / $i) - 0.3;
// 		}
// 	}
// }
