/**
 * @# Marquee text
 **/
// .wolf-core-marquee-text span {
// 	padding-right: 20vw;
// 	font-weight: 700;
// 	text-transform: uppercase;
// 	font-size: 8vw;
// }

// .elementor-editor-active {
// 	.wolf-core-marquee-text span:not(:first-child) {
// 		display: none;
// 	}

// 	.wolf-core-marquee-text {
// 		position: absolute;
// 		width: 100000px;
// 		height: 500px;
// 	}
// }
$item-font-size: 10vw;
$marquee-width: 100%;
$offset: 20vw;
$move-initial: calc(-25% + 20vw);
$move-final: calc(-50% + 20vw);

.wolf-core-marquee-container{
	position: relative;
	z-index: 0;
}

.wolf-core-marquee {
	position: relative;
	top: 0;
	left: 0;
	width: $marquee-width;
	overflow: hidden;
	pointer-events: none;
	z-index: 1;
	//mix-blend-mode: color-burn;
}

.wolf-core-marquee__inner {
	width: fit-content;
	display: flex;
	position: relative;
	transform: translate3d($move-initial, 0, 0);
	animation: marquee 10s linear infinite;
	animation-play-state: paused;
}

.wolf-core-marquee .wolf-core-marquee__inner {
	animation-play-state: running;
}

.wolf-core-marquee-text {
	text-align: center;
}

.wolf-core-marquee-text {
	white-space: nowrap;
	font-size: $item-font-size;
	padding: 0 1vw;
	font-weight: 700;
	line-height: 1.15;
}

.wolf-core-marquee-direction-right{
	.wolf-core-marquee__inner {
		animation-direction: reverse;
	}
}

@keyframes marquee {
	0% {
		transform: translate3d($move-initial, 0, 0);
	}

	100% {
		transform: translate3d($move-final, 0, 0);
	}
}
