/**
 * @# Marquee text
 **/
.wolf-core-marquee-text span {
	padding-right: 20vw;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 8vw;
}

.elementor-editor-active {
	.wolf-core-marquee-text span:not(:first-child) {
		display: none;
	}

	.wolf-core-marquee-text {
		position: absolute;
		width: 100000px;
		height: 500px;
	}
}
