/**
 * @# Marquee text
 **/
// .wolf-core-marquee-text span {
// 	padding-right: 20vw;
// 	font-weight: 700;
// 	text-transform: uppercase;
// 	font-size: 8vw;
// }

// .elementor-editor-active {
// 	.wolf-core-marquee-text span:not(:first-child) {
// 		display: none;
// 	}

// 	.wolf-core-marquee-text {
// 		position: absolute;
// 		width: 100000px;
// 		height: 500px;
// 	}
// }
$item-font-size: 10vw;
$marquee-width: 100%;
$offset: 20vw;
$move-initial: calc(-25% + 20vw);
$move-final: calc(-50% + 20vw);
$gap:1rem;

.wolf-core-marquee-container{
	position: relative;
	z-index: 0;
}

.wolf-core-marquee {
	--gap: 1rem;
	position: relative;
	display: flex;
	overflow: hidden;
	user-select: none;
	gap: $gap;
}

.wolf-core-marquee__inner {
	flex-shrink: 0;
	display: flex;
	justify-content: space-around;
	gap: $gap;
	min-width: 100%;
	animation: marquee 10s linear infinite;
}

.wolf-core-marquee .wolf-core-marquee__inner {
	animation-play-state: running;
}

.wolf-core-marquee-text {
	text-align: center;
}

.wolf-core-marquee-text {
	white-space: nowrap;
	font-size: $item-font-size;
	//padding: 0 1vw;
	font-weight: 700;
	line-height: 1.15;
}

.wolf-core-marquee-direction-right{
	.wolf-core-marquee__inner {
		animation-direction: reverse;
	}
}

@keyframes marquee {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(calc(-100% - $gap));


	}
}

.wolf-core-marquee-link-mask {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}
