/**
 * @# Pricing Table
 **/
.wolf-core-pricing-table-featured {
	background: #f7f7f7;
}

.wolf-core-pricing-table-inner {
	border: 1px solid #dbdbdb;
	padding: 77px 60px 71px;
}

.wolf-core-pricing-table-price-value {
	font-size: 1.5em;
}

.wolf-core-pricing-table-price-strike {
	padding-right: 10px;
}

.wolf-core-pricing-table-price-period {
}

.wolf-core-pricing-table-footer a:last-child{
	margin-top: 30px;
}
