/**
 * @# Rotating text
 **/

.wolf-core-rotating-text{
	display: flex;
	justify-content: center;

	i,svg:not(.wolf-core-rotating-text-svg){
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		&:before{

		}
	}

	svg:not(.wolf-core-rotating-text-svg) {
		left: 50%;
		transform: translateX(-50%);
	}
}

.wolf-core-rotating-text .wolf-core-rotating-text-svg {
	position: relative;
	left: 0;
	top: 0;
	width: 200%;
	height: 200%;
	margin-left: -50%;
	margin-top: -50%;
	animation-name: rotatingTextRotate;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.wolf-core-rotating-text .wolf-core-rotating-text-link{
	display: inline-block;
	position: relative;
}

@keyframes rotatingTextRotate {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0);
	}
}
