.wolf-core-testimonials-container {
	z-index: 5;
	position: relative;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.wolf-core-testimonal-slide {
	width: 100%;
	padding-bottom: 15px;
}
