/**
 * @# Text Hover Image
 **/

.wolf-core-text-hover-image {
	.hover-reveal {
		position: fixed;
		top: 50%;
		left: 50%;
		z-index: 9999;
		pointer-events: none;
		visibility: hidden;
		transition: transform 0.3s ease;
		z-index: 0;

		&.wolf-core-text-hover-image-active {
			visibility: visible;
		}
	}

	.hover-reveal__img {
		transform: translate(-5%, -10%);
		max-width: 460px;
		max-height: 460px;
		height: auto;
		width: auto;
		display: block;
	}

	.wolf-core-text-hover-image-text {
		position: relative;
		z-index: 1;
	}
}
