/**
 * @# Twitter
 **/
.wolf-core-wolf-twitter-shortcode-text-align-center {
	.wolf-bigtweet-content {
		text-align: center;
	}
}

.wolf-core-wolf-twitter-shortcode-text-align-left {
	.wolf-bigtweet-content {
		text-align: left;
	}
}

.wolf-core-wolf-twitter-shortcode-text-align-right {
	.wolf-bigtweet-content {
		text-align: right;
	}
}
